* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

header {
    background-color: royalblue;
}
.header {
    width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    color: white;
}

.logo-header {
    height: 25px;
}

nav {
    display: flex;
}

.navactive {
    border-color: darkblue;
}

.button {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-bottom: 1px solid white;
}

.bottom-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 425px;
    justify-content: center;
    align-items: center;
    width: 1500px;
    margin: auto;
}

h1 {
    font-weight: 800;
    font-weight: bold;
    color: white;
}

p {
    color: white;
    font-weight: 600;
}

.box-center {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    width: 1530px;
    margin: auto;

}

.box {
    background-color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-image {
    padding-top: 20px;
    text-align: center;
}

.card-image img {
border-radius: 50%;
}

section p {
    color: black;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}

h2 {
    margin-bottom: 0;
}