html {
    height: 100%;
}
body {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header, footer {
    background-color: blue;
    height: 150px;
}

aside {
    background-color: red;
    width: 300px;
    flex-direction: row;
}

.container {
    flex-grow: 1;
    display: flex;
}

main {
    background-color: yellow;
    flex-grow: 1;
}